<% message = @message if !message %>
<% if (current_user.id == @listing.user_id) || (current_user.id == message.user_id) %>
	<div class="message-case">
		<article class="message">
			<%= message.comment %><br><br>
			<strong><%= message.user.first_name %></strong> <br>
			<%= "#{message.created_at.to_formatted_s(:long_ordinal)}" %>
		</article>
			<div class="action-button-column">
				<% if current_user.id == message.user_id %>
					<%= link_to "X", listing_message_path(@listing, message), class: "ajax-delete button delete" %>
				<% elsif current_user.id == @listing.user_id %>
					<%= mail_to(message.user.email, "✉", subject: @listing.name, body:"Hi #{message.user.first_name}!\n\nThis is a reply to the message you sent me on Rainforest about my listing \"#{@listing.name}\":\n\     |  #{message.comment}", class: "reply button" ) %>
				<% end %>
			</div>
	</div>
<% end %>
