<%= form_for @listing do |p| %>
	<% if @listing.errors.any? %>
	<div id="error-explanation">
		<h3>Uh oh! I found <%= pluralize(@listing.errors.count, "problem") %> with your input:</h3>
		<ul>
			<% @listing.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>

	<%= p.label :name %> <br>
	<%= p.text_field :name %>
	<br>
	<%= p.label :category_id %> <br>
	<%= p.select :category_id, options_from_collection_for_select(@categories, 'id', 'name', @listing.category_id) %>
	<br>
	<%= p.label :price_in_dollars, "Price" %> <br>
	$<%= p.text_field :price_in_dollars %>
	<br>
	<%= p.label :description %> <br>
	<%= p.text_area :description %>
	<br>
	<%= p.label :photo, "Photo (url)" %> <br>
	<%= p.text_field :photo %>
	<br><br>
	<%= p.submit %>
<% end %>