<h2>User Profile: <%= @user.first_name + " " + @user.last_name %></h2>
<div class="h-half">
	<strong>Username:</strong> <%= @user.username %> <br>
	<strong>Email address:</strong> <%= @user.email %> <br>
	<strong>Password:</strong> [hidden] <br><br>

	<%= link_to button_tag("Update info"), edit_user_path %>
	<%= link_to button_tag("Delete account"), user_path, confirm: "Are you sure you want to delete your account? \nTHIS CANNOT BE UNDONE!", method: :delete %>
</div>
<div class="h-half">
	<% unless @user.products.empty? %>
		<h3>Products you've reviewed</h3>
		<ul>
			<% @user.products.each do |product| %>
				<li><%= link_to product.name, product_path(product) %>
					<%= "($" + product.formatted_price + ")" %></li>
			<% end %>
		</ul>
	<% end %>
</div>