<div class="h-half">
	<h2>Account: <%= @user.first_name + " " + @user.last_name %></h2>
	<strong>Username:</strong> <%= @user.username %> <br>
	<strong>Email address:</strong> <%= @user.email %> <br>
	<strong>Password:</strong> [hidden] <br><br>

	<%= link_to button_tag("Update info"), edit_user_path %>
	<%= link_to button_tag("Delete account"), user_path, confirm: "Are you sure you want to delete your account? \nYour listings and messages will also be deleted.\nTHIS CANNOT BE UNDONE!", method: :delete %>
</div>
<div class="h-half">
	<% unless @user.products.empty? %>
		<section class="user-listings light">
			<h2>Your listings</h2>
			<ul>
				<% @user.products.each do |product| %>
					<li><%= link_to product.name, product_path(product) %>
						<%= " — " + pluralize(product.reviewers.count, "message") + " received" %></li>
				<% end %>
			</ul>
		</section>
	<% end %>

	<% unless @user.reviewed_products.empty? %>
		<section class="messages-sent light">
			<h2>Listings you've messaged</h2>
			<ul>
				<% @user.reviewed_products.each do |product| %>
					<li><%= link_to product.name, product_path(product) %>
						<%= "(" + product.formatted_price + ")" %></li>
				<% end %>
			</ul>
		</section>
	<% end %>
</div>