<h2>Messages for <%= @product.name %></h2>
<% if @product.reviews.count == 0 %>
	<div class="review-case">No messages yet.</div>
<% end %>

<% @product.reviews.each do |review| %>
	<% if (current_user.id == @product.user_id) || (current_user.id == review.user_id) %>
		<div class="review-case">
			<article>
				<%= review.comment %><br><br>
				<strong><%= review.user.first_name %></strong> <br>
				<%= "#{review.created_at.to_formatted_s(:long_ordinal)}" %>
			</article>
				<div class="action-button-column">
					<% if current_user.id == review.user_id %>
						<%= link_to button_tag("X", class: "delete"), product_review_path(@product, review), confirm: "Are you sure you want to delete this message?", method: :delete %>
					<% elsif current_user.id == @product.user_id %>
						<%= mail_to(review.user.email, button_tag("✉", class: "reply"), subject: @product.name, body:"Hi!\n\nThis is a reply to the message you sent me on Rainforest about my listing \"#{@product.name}\":\n\     |  #{review.comment}" ) %>
					<% end %>
				</div>
		</div>
	<% end %>
<% end %>
