<section class="new-message-form">
	<h4>Interested? Send a message!</h4>

	<% if current_user %>
		
		<%= form_for([@product, @message], :remote => true) do |f| %>
			<div id="message-form-errors">
				<%= render 'message_form_errors' %>
			</div>
			<%= f.text_area :comment %>
			<%= f.submit "Post message to owner" %>
			<%= token_tag %>

		<% end %>
	<% else %>
		<p>Please <%= link_to "log in", new_session_path %> to write a message.</p>
	<% end %>
</section>

