<section class="product-display-case dark container">

	<h1><%= @product.name %></h1>
	<h3><%= @product.formatted_price %></h3><br>
	<p><%= @product.description %></p>
	<br><br>
	<%= image_tag(@product.photo) unless @product.photo.empty? %> 

	<section class="nav-buttons medium container">
		<% if !current_user.nil? && (current_user.id == @product.user_id) %>
			<%= link_to button_tag("Edit this listing"), edit_product_path(@product) %>
			<%= link_to button_tag("Delete this listing"), @product, confirm: "Are you sure you want to delete this listing?", method: :delete %>
		<% end %>
		<%= link_to button_tag("Back to main page"), products_path %>
	</section>

</section>

<section class="reviews-display container">

	<% if current_user && (current_user.id == @product.user_id) %>
		<div id="list-reviews"><%= render "list_reviews" %></div>
	<% elsif current_user && (current_user.reviewed_products.where(id: @product.id).count > 0) %>
		<div id="list-reviews"><%= render "list_reviews" %></div>
		<%= render "new_review_form" %>
	<% else %>
		<div id="list-reviews"></div>
		<%= render "new_review_form" %>
	<% end %>
</section>