<section class="product-display-case dark">

	<h1><%= @product.name %></h1>
	<h3>Only $<%= @product.formatted_price %></h3><br>
	<p><strong>About this item:</strong> <%= @product.description %></p>
	<br><br>
	<%= image_tag(@product.photo) %> 
</section>

<section class="review-display-case">
	<% puts @product.reviews.to_s %>

	<% unless (!current_user && @product.reviews[0].nil?) || (current_user && @product.reviews[0].user.nil?) %>
		<%= render "list_reviews" %>
	<% end %>

	<%= render "new_review_form" %>
</section>

<section class="nav-buttons h-full medium">
	<%= link_to button_tag("Edit this product"), edit_product_path(@product) %>
	<%= link_to button_tag("Delete this product"), @product, confirm: "Are you sure you want to delete this product?", method: :delete %>
	<%= link_to "Back to products list", products_path, class: "right" %>
</section>