<h1><%= @product.name %></h1>
<h3>Only <%= @product.price_in_cents %></h3>
<p><%= @product.description %></p>

<%= link_to button_tag("Edit this product"), edit_product_path(@product) %>
<%= link_to button_tag("Delete this product"), @product, confirm: "Are you sure you want to delete this product?", method: :delete %>
<%= link_to "Back to product listing", products_path %>
