<section class="product-display-case dark container">

	<h1><%= @product.name %></h1>
	<h3>Only $<%= @product.formatted_price %></h3><br>
	<p><%= @product.description %></p>
	<br><br>
	<%= image_tag(@product.photo) unless @product.photo.empty? %> 

	<section class="nav-buttons medium container">
		<%= link_to button_tag("Edit this product"), edit_product_path(@product) %>
		<%= link_to button_tag("Delete this product"), @product, confirm: "Are you sure you want to delete this product?", method: :delete %>
		<%= link_to button_tag("Back to products list"), products_path %>
	</section>

</section>

<section class="review-display-case container">
	<% puts @product.reviews.to_s %>

	<% unless (!current_user && @product.reviews[0].nil?) || (current_user && @product.reviews[0].user.nil?) %>
		<%= render "list_reviews" %>
	<% end %>

	<%= render "new_review_form" %>
</section>
