<h1><%= @product.name %></h1>
<h3>Only <%= @product.formatted_price %></h3>
<%= image_tag(@product.photo) %>
<p><%= @product.description %></p>

<% puts @product.reviews.to_s %>

<% unless (!current_user && @product.reviews[0].nil?) || (current_user && @product.reviews[0].user.nil?) %>
	<%= render "list_reviews" %>
<% end %>

<%= render "new_review_form" %>

<%= link_to button_tag("Edit this product"), edit_product_path(@product) %>
<%= link_to button_tag("Delete this product"), @product, confirm: "Are you sure you want to delete this product?", method: :delete %>
<%= link_to "Back to product listing", products_path %>
