<!DOCTYPE html>
<html class="v-full">
<head>
  <title>Rainforest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag "Rainforest-icon.png" %>
</head>
<body class="h-full v-full">
	<header class="h-full medium">
		<div class="left">
			<%= image_tag("Rainforest-icon.png", class: "logo-img") %>
			<h1 class="logo"><%= link_to "Rainforest", products_path %></h1></div>
		<div class="user-info right">
			<% if current_user %>
				Signed in as <strong><%= current_user.first_name + " " + current_user.last_name %></strong><br>
				<%= link_to "My account", user_path(current_user.id), class: "right" %>
				<%= link_to "Log out", session_path("current"), :method => :delete %>
			<% else %>
				<%= link_to button_tag("LOG IN", id: "login", class: "right"), new_session_path %><br>
				New user? <%= link_to "Create an account", new_user_path %>
			<% end %>
		</div>
	</header>
	<nav class="dark h-full">
		<%= link_to "Home", products_path %>
		<%= link_to "Add Listing", new_product_path %>
	</nav>
	<main class="container light">

		<% if flash[:notice] %>
			<p class="notice"><%= flash[:notice] %></p>
		<% end %>
		<% if flash[:alert] %>
			<p class="alert"><%= flash[:alert] %></p>
		<% end %>

		<%= yield %>

	</main>

</body>
</html>
